/* Hold the actual CSS rules that the browser reads*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body, button, input, select, textarea, .font-inter {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
}